<div class="formcontainer">
    <div class="formbody">
        <form style="width:100%;" [formGroup]="loginForm">
            <div class="header">Welcome</div>
            <div>
                <input type="text" formControlName="email" matInput placeholder="Email">
                <span *ngIf="isValid('email')">Email cannot be blank</span>
            </div>
            <div>
                <input type="password" formControlName="password" matInput placeholder="Password">
                <span *ngIf="isValid('password')">Password cannot be blank</span>
            </div>
            <div style="margin-top:40px;">
                <button class="form-btn" (click)="login()">Login</button>
            </div>
        </form>
    </div>
    <div *ngIf="showErrorMessage">
        <h1>Invalid username and password Please try again</h1>
    </div>
    <div>
        <div style="width: 290px; padding: 20px;">
            <button class="form-btn-hollow" (click)="movetoregister()">Register</button>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary btn-lg btn-block"  routerLink="/blogs">show blogs</button>